.idea/
.ipynb_checkpoints/
ipynb_checkpoints
__pycache__
*.out
slurm/
data/
*.csv
*.pdf
*.ipynb
*.gz
*.txt
*.sh
response/
results/
results_backup/
results_temp/
results
results_temp
fig_generation/
notebooks/